﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 150px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width:70%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}
h3 {
    font-size: 1.2em;
    text-decoration: underline solid;

}

.jumbotron {
    color: #000;
    background-image: url("images/libraryPhoto1.jpg");
    background-repeat: no-repeat;
    background-color: transparent;
}

code {
    display:block;
}

footer {
    padding:40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
