﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="codebox.ascx.cs" Inherits="Assignment2a_RyanRobinson_B.usercontrols.codebox" %>

<asp:DataGrid ID="codeContainer" runat="server" SkinId="darkSkin"
    GridLines="None" Width="600px" CellPadding="1" >
    <HeaderStyle BackColor="#999966" ForeColor="White" />
    <ItemStyle BackColor="#1a1d23" ForeColor="#ffffff"/>    
</asp:DataGrid>